.nav-div{
  
    width:500px;
    height:80px;
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
    align-items: center;
    

}
.nav-div-inner{
    width:40%;
    height: 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-text-div{
    font-size:22px;
    color:white;
    
    display:flex;
    justify-content: center;
    align-items: center;
    width:55%;
}
.nav-icon-div{
    background-color:#FFF1E9;
    width:40px;
    height:40px;
    border-radius: 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#father-nav-div{
    display: flex;
    justify-content: space-between;
    width:80%;

}
.nav{
    display:flex;
    justify-content: center;
}