*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}



.inner-container{
 
    width:80%;
    display: flex;
    justify-content: space-between;
   
   flex-wrap: wrap;
    
}
.page-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:30px;
    
   
    
   
}

.custom-tab:hover{
border:2px solid purple;
border-radius:10px;
height:85px;
font-weight: bolder;
}
#div-of-Question-Bar{
    display:flex;
    flex-direction: column;
    
    width:500px
   
}
#Question-div{
    height:80%;
   
}

.body-div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width:80%;
        
       
    }
   #left-div-text{
    width:100%;
    
    margin-bottom: 40px;
   
    
   }
   


/* .body-father-div{
    border:1px solid greenyellow
}
.body-div{
    border:1px solid grey
} */


#div-answer{
        
   width: 100%;
    
}

#tab-div-page{
    background-color:#3B4D66 ;
    width:500px;
    height:80px;
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
    align-items: center;
   

}



@media (max-width:1025px){
    #div-of-Question-Bar{
        display:flex;
        flex-direction: column;
        margin-bottom: 20px;
        border: 1px solid red;
         
        width:100%
       
    }

    #div-with-Bar{
        margin-top:10px;
        margin-bottom: 10px;
    }
    #div-answer{
        
        width:800px
    }
    #tab-div-page{
        background-color:#3B4D66 ;
        width:100%;
        height:80px;
        display: flex;
        justify-content: flex-start;
        border-radius: 10px;
        align-items: center;
       
    
    }
    
}

@media (max-width:768px){
    .inner-container{
 
        width:80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        
    }
    #div-answer{
        
        width:613px
    }

    #Question-div{
        margin-bottom: 20px;
    }
    #div-with-Bar{
        margin-bottom:20px;
    }
}

@media (max-width:600px){
    .inner-container{
 
        width:80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        
    }
    #div-answer{
      
        width:480px
    }

    #Question-div{
        margin-bottom: 20px;
    }
    #div-with-Bar{
        margin-bottom:20px;
    }

    .nav-text-div{  /*THis is ffrom nav*/
  font-size: 16px;
  margin-left: 5px;
    }
}

@media (max-width:376px){
    .inner-container{
 
        width:80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        
    }
    #tab-div-page{
        background-color:#3B4D66 ;
        width:100%;
        height:80px;
        display: flex;
        justify-content: flex-start;
        border-radius: 10px;
        align-items: center;
       
    
    }
    .custom-tab:hover{
        border:2px solid purple;
        border-radius:10px;
        height:55px;
        font-weight: bolder;
        }


    #div-answer{
       
        width:200px
    }

    #Question-div{
        margin-bottom: 20px;
    }
    #div-with-Bar{
        margin-bottom:20px;
    }

    .nav-text-div{  /*THis is ffrom nav*/
        font-size: 16px;
        margin-left: 5px;
          }

}

@media (max-width:415px){
    .inner-container{
 
        width:80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        
    }
    #tab-div-page{
        background-color:#3B4D66 ;
        width:100%;
        height:50px;
        display: flex;
        justify-content: flex-start;
        border-radius: 10px;
        align-items: center;
       
    
    }

    .custom-tab:hover{
        border:2px solid purple;
        border-radius:10px;
        height:55px;
        font-weight: bolder;
        }

    #div-answer{
       
        width:315px
    }

    #Question-div{
        margin-bottom: 20px;
    }
    #div-with-Bar{
        margin-bottom:20px;
    }
}



@media (max-width:320px){
    .inner-container{
 
        width:80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        
    }
    #div-answer{
      
        width:243px
    }

    #Question-div{
        margin-bottom: 20px;
    }
    #div-with-Bar{
        margin-bottom:20px;
    }

    .nav-text-div{  /*THis is ffrom nav*/
        font-size: 16px;
        margin-left: 15px;
          }
}