*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}



.inner-container{
 
    width:80%;
    display: flex;
    justify-content: space-between;
   flex-wrap: wrap;
    
}
.page-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:20px;  
}

.custom-tab:hover{
border:2px solid purple;
border-radius:10px;
height:85px;
font-weight: bolder;
}
#div-of-Question-Bar{
    display:flex;
    flex-direction: column;
    
    width:500px
   
}
#Question-div{
    height:80%;
   
}

.body-div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width:80%;
        
       
    }
   #left-div-text{
    width:100%;
    
    margin-bottom: 40px;
   
    
   }
   


/* .body-father-div{
    border:1px solid greenyellow
}
.body-div{
    border:1px solid grey
} */


#div-answer{
        
   width: 100%;
    
}

#tab-div-page{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width:500px;
    height:80px;
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
    align-items: center;
   

}
#please-select{
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
   
    gap:7px;
    animation:slideIn 5s ease-in-out forwards ;

}
#please-select-img{
    width: 30px;
}
@keyframes slideIn{
  from{
     transform:translateY(-1000%)

  }
  to{
     transform:translateY(0%)
  }

}


@media (max-width:1025px){
    #div-of-Question-Bar{
        display:flex;
        flex-direction: column;
        margin-bottom: 20px;
        width:100%
       
    }

    #div-with-Bar{
        margin-top:10px;
        margin-bottom: 10px;
        width:800px
    }
    #div-answer{
        
        width:800px
    }
    #tab-div-page{
        background-color:#3B4D66 ;
        width:100%;
        height:80px;
        display: flex;
        justify-content: flex-start;
        border-radius: 10px;
        align-items: center;
       
    
    }
    .custom-tab:hover{
        border:2px solid purple;
        border-radius:10px;
        height:85px;
        font-weight: bolder;
        }
    
}

@media (max-width:820px){
    .inner-container{
 
        width:80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        
    }
    #div-answer{
        
        width:213px;
        
    }
    #div-of-Question-Bar{
        
        width:310px;
       
        
    }

    #Question-div{
        margin-bottom: 20px;
    }
    #div-with-Bar{
        margin-bottom:20px;
    }
}





@media (max-width:768px){
    .inner-container{
 
        width:80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        
    }
    #div-answer{
        
        width:613px
    }
    #div-of-Question-Bar{
        
        width:610px;
       
        
    }

    #Question-div{
        margin-bottom: 20px;
    }
    #div-with-Bar{
        margin-bottom:20px;
    }
}

@media (max-width:600px){
    .inner-container{
 
        width:80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        
    }
    .custom-tab:hover{
        border:2px solid purple;
        border-radius:10px;
        height:85px;
        font-weight: bolder;
        }

    #div-answer{
      
        width:480px
    }

    #Question-div{
        margin-bottom: 20px;
    }
    #div-with-Bar{
        margin-bottom:20px;
    }

    .nav-text-div{  /*THis is ffrom nav*/
  font-size: 16px;
  margin-left: 5px;
    }
}

@media (max-width:376px){
    .inner-container{
 
        width:80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        
    }
    #tab-div-page{
        background-color:#3B4D66 ;
        width:100%;
        height:80px;
        display: flex;
        justify-content: flex-start;
        border-radius: 10px;
        align-items: center;
       
       
    
    }
    .custom-tab:hover{
        border:2px solid purple;
        border-radius:10px;
        height:55px;
        font-weight: bolder;
        }


    #div-answer{
       
        width:200px;
        /* border:1px solid green; */
       
    }

    #Question-div{
        margin-bottom: 20px;
    }
    #div-with-Bar{
        margin-bottom:20px;
    }

    .nav-text-div{  /*THis is ffrom nav*/
        font-size: 16px;
        margin-left: 5px;
          }

}

@media (max-width:415px){
    .inner-container{
 
        width:80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        
    }
    #tab-div-page{
        background-color:#3B4D66 ;
        width:100%;
        height:50px;
        display: flex;
        justify-content: flex-start;
        border-radius: 10px;
        align-items: center;
       
    
    }

    .custom-tab:hover{
        border:2px solid purple;
        border-radius:10px;
        height:55px;
        font-weight: bolder;
        }

    #div-answer{
       
        width:315px
    }

    #Question-div{
        margin-bottom: 20px;
    }
    #div-with-Bar{
        margin-bottom:20px;
    }
}

/* @media (max-width:413px){
    .inner-container{
 
        width:80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        
    }
    #tab-div-page{
        background-color:#3B4D66 ;
        width:100%;
        height:50px;
        display: flex;
        justify-content: flex-start;
        border-radius: 10px;
        align-items: center;
       
    
    }

    .custom-tab:hover{
        border:2px solid purple;
        border-radius:10px;
        height:55px;
        font-weight: bolder;
        }

    #div-answer{
       
        width:3050px;
        border:1px solid red
    }

    #Question-div{
        margin-bottom: 20px;
    }
    #div-with-Bar{
        margin-bottom:20px;
    }
} */







@media (max-width:430px){
    .inner-container{
 
        width:80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        
        
    }
    #tab-div-page{
        background-color:#3B4D66 ;
        width:100%;
        height:50px;
        display: flex;
        justify-content: flex-start;
        border-radius: 10px;
        align-items: center;
       
       
    
    }

    .custom-tab:hover{
        border:2px solid purple;
        border-radius:10px;
        height:55px;
        font-weight: bolder;
        }

    #div-answer{
       
        width:340px
    }

    #Question-div{
        margin-bottom: 20px;
    }
    #div-with-Bar{
        margin-bottom:20px;
        width:100%;
       
    }
}



@media (max-width:360px){
    .inner-container{
 
        width:80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        
        
    }
    #tab-div-page{
        background-color:#3B4D66 ;
        width:100%;
        height:50px;
        display: flex;
        justify-content: flex-start;
        border-radius: 10px;
        align-items: center;
       
       
    
    }
    #div-of-Question-Bar{
        
        width:310px
    }

    .custom-tab:hover{
        border:2px solid purple;
        border-radius:10px;
        height:55px;
        font-weight: bolder;
        }

    #div-answer{
       
        width:200px;
        
    }

    #Question-div{
        margin-bottom: 20px;
    }
    #div-with-Bar{
        margin-bottom:20px;
        width:400px;
       
    }
}




@media (max-width:390px){
    .inner-container{
 
        width:80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        
        
    }
    #tab-div-page{
        background-color:#3B4D66 ;
        width:100%;
        height:50px;
        display: flex;
        justify-content: flex-start;
        border-radius: 10px;
        align-items: center;
       
       
    
    }

    .custom-tab:hover{
        border:2px solid purple;
        border-radius:10px;
        height:55px;
        font-weight: bolder;
        }

    #div-answer{
       
        width:312px
    }

    #Question-div{
        margin-bottom: 20px;
    }
    #div-with-Bar{
        margin-bottom:20px;
        width:100%;
        
    }
}


























@media (max-width:320px){
    .inner-container{
 
        width:80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        
    }
    #div-answer{
      
        width:243px
    }

    #Question-div{
        margin-bottom: 20px;
    }
    #div-with-Bar{
        margin-bottom:20px;
    }

    .nav-text-div{  /*THis is ffrom nav*/
        font-size: 16px;
        margin-left: 15px;
          }
}