#play-btn{
    width:100%;
    height: 70px;
    background-color:purple;
    color:white;
    border-radius: 20px;
    font-size: 20px;

}
#play-btn:hover{
    background-color:#D394FA
}

@media (max-width:1024px){
    #btn{
        width:100%;
        height: 80px;
        background-color:purple;
        color:white;
        border-radius: 10px;
        font-size: 16px;
    
    }

}

@media (max-width:768px){
    #play-btn{
        width:100%;
        height: 60px;
        background-color:purple;
        color:white;
        border-radius: 10px;
        font-size: 16px;
    
    }
}

@media (max-width:376px){
    #play-btn{
        width:100%;
        height: 55px;
        background-color:purple;
        color:white;
        border-radius: 10px;
        font-size: 16px;
    
    }
    
   
}