*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    
}
.Question-text-div{
    font-size: 26px;
    color:white;
    width: 100%;
    margin-top:25px;
    
}
.text-title-Question{
    font-size:16px;
    color:lightblue;
    width:350px
  
}

@media (max-width:600px) {
    
   
}