*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    
}
.Question-text-div{
    font-size: 26px;
    color:white;
    width: 70%;
}
.text-title{
    font-size:10px;
    color:lightblue;
    width:350px
  
}