.Tab-div{
    background-color:#3B4D66 ;
    width:500px;
    height:80px;
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
    align-items: center;

}
.Tab-div-inner{
    width:100%;
    height:50px;
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color:#3B4D66 ;
    
   
   
}
.icon-div{
    background-color:#FFF1E9;
    width:40px;
    height:40px;
    border-radius: 5px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.icon-div p{
    
    font-size: 26px;
    text-decoration: none;
    font-weight: bolder;
}

.text-div{
    background-color:#3B4D66 ;
    font-size:24px;
    color:white;
    font-weight: bolder;
    display:flex;
    justify-content:center;
    align-items: center;
   width:100%;
   
}

#Tab-link{
    text-decoration:none
}

.selected{
    border:2px solid purple;
    border-radius: 10px
}

.correct {
    border:2px solid  green; /* Border color when answer is correct */
  }
  
  .incorrect {
    border:2px solid  red; /* Border color when answer is incorrect */
  }